body {
  padding-top: 70px;
  padding-bottom: 100px;
}
body::-webkit-scrollbar{background-color:#ffffff;width:10px}
body::-webkit-scrollbar-thumb{background:#0081fa}
body::-moz-selection{background:#0081fa;color:#FFF}
::-moz-selection{background:#0081fa;color:#FFF}
::selection{background:#0081fa;color:#FFF}

html {
  position: relative;
  min-height: 100%;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}
.share {
  display: inline-block;
  min-width: 17%;
  margin: 4px;
}
.no-margin {
  margin: 0;
}
.jumbotron-home {
  color: #fff;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  
}
dd {
  margin-left: 25px;
  margin-bottom: 10px;
}
.viewads-ad {
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 4px;
}
.viewads-grid {
  padding: 10px 15px 10px 15px;
}
.viewads-row-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.viewads-row-bottom {
  padding: 0;
  margin: 3px 0 0 0;
  font-size: 0.9em;
  line-height: 1.2em;
}
.viewads-row-amount {
  padding: 0;
  margin: 0;
}
.visited-link {
  opacity: 0.7;
  background-color: #efeeee;
}
.visited-link a {
  color: #444;
}
.counter {
  text-align: center;
  max-width: 260px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0.2em !important;
}
.counter span {
  padding: 3px 7px;
  border-radius: 5px;
  color: #fff;
  margin-right: -5px;
  background: #45484d;
  background: -moz-linear-gradient(top, #45484d 0, #000 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #45484d),
    color-stop(100%, #000)
  );
  background: -webkit-linear-gradient(top, #45484d 0, #000 100%);
  background: -o-linear-gradient(top, #45484d 0, #000 100%);
  background: -ms-linear-gradient(top, #45484d 0, #000 100%);
  background: linear-gradient(to bottom, #45484d 0, #000 100%);
}
.panel-gold {
  border-color: #f5d900;
  color: #000;
}
.panel-gold > .panel-heading {
  color: #fff;
  background-color: #f5d900;
  border-color: #f5d900;
}
.panel-gold > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f5d900;
}
.panel-gold > .panel-heading .badge {
  color: #f5d900;
  background-color: #fff;
}
.panel-gold > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f5d900;
}
.panel-silver {
  border-color: #b9b9b9;
  color: #000;
}
.panel-silver > .panel-heading {
  color: #fff;
  background-color: #b9b9b9;
  border-color: #b9b9b9;
}
.panel-silver > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #b9b9b9;
}
.panel-silver > .panel-heading .badge {
  color: #b9b9b9;
  background-color: #fff;
}
.panel-silver > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #b9b9b9;
}
.panel-bronze {
  border-color: #f56f00;
  color: #000;
}
.panel-bronze > .panel-heading {
  color: #fff;
  background-color: #f56f00;
  border-color: #f56f00;
}
.panel-bronze > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f56f00;
}
.panel-bronze > .panel-heading .badge {
  color: #f56f00;
  background-color: #fff;
}
.panel-bronze > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f56f00;
}
.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}
@supports (position: -webkit-sticky) or (position: sticky) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
#timer {
  font-size: 50px;
  font-weight: 700;
}
.start-btn {
  display: none;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 10px #7d7d7d;
  border-radius: 5px;
}